<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Main</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script th:src="@{/js/script.js}"></script>
</head>
<body>
<div class="head">
    <h2>List of Students</h2>
    <hr>
</div>
<div class="container">
    <div class="table-responsive-vertical shadow-z-1">
        <table id="table" class="table table-hover table-mc-light-blue table-bordered table-stripped">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Course</th>
                <th>Adviser</th>
                <th>Email</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student : ${students}">
                <td th:text="${student.id}"></td>
                <td th:text="${student.name}"></td>
                <td th:text="${student.surname}"></td>
                <td th:text="${student.course}"></td>
                <td th:text="${student.advisor}"></td>
                <td th:text="${student.email}"></td>
                <td sec:authorize="hasRole('ROLE_ADMIN')">
                    <button class="btn btn-danger btn-outline btn-circle delete"><span class="glyphicon glyphicon-remove"></span>Delete</button>
                    <input style="display: none;" th:value="'/students/' + ${student.id}"></input>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="addStudent">
        <a th:href="@{/add}" class="btn btn-primary btn-outline btn-circle">
            <span class="glyphicon glyphicon-plus"></span>  New student</a>
    </div>
</div>

</body>
</html>
